
/*main-index шапка*/

  
.hero{
      background-image: linear-gradient( to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./images/Header/Header480.jpg");
      background-color:$color-block;
      background-repeat: no-repeat; 
      background-size: cover;
      background-position: center;
      color: $accent-color;
 
      text-align: center;
      margin: 0 auto;
      padding: 118px 0;
      max-width: 1600px; 
    
            @media screen and (min-width:$tablet){
      background-image: linear-gradient( to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./images/Header/Header768.jpg");
      padding: 200px 0;
       
            } 

            @media screen and (min-width:$desktop){
      background-image: linear-gradient( to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("./images/Header/Header.jpg");

     
            } 
 }
 
  .hero__title{
      font-size: 26px;
      font-weight: 900;
      line-height: 1.6;
      text-align: center;
      margin-bottom: 30px;

     @media (min-width:$desktop) {
      font-size: 44px;
      font-style: normal;
      line-height: 1.4;
            }  
  }

       