/*logo*/
.logo{
    color: $logo-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    margin-right:93px;

         &__black{
            color: $primary-text-color;
            margin-top: 32px;
         }
         
         &__white {
            color: #ffffff;
         }
   
     
  }
     
 
   
  
  