/*logo*/
.logo{

    color: $logo-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    text-decoration: none;

    // margin-top: 16px;
  
    }

 .logo__black{
      color: $primary-text-color;
      // margin-top: 32px;
      margin-bottom: 25px;
      
      @media (min-width:$tablet) { 
          margin-right: 88px;
      }
      @media (min-width:$desktop){
         margin-right: 93px;
          margin-top: 32px;
        
      }  
}

   .logo__white {
       color: #ffffff;
      }
     
 
   
  
  