.button-service{
  
    color: $accent-color; 
    background-color: $logo-color;
    font-size: 16px;
    font-style:normal;
    font-weight: 700;
    line-height: 1.9;
    text-align: center;
    cursor: pointer;
  
   border-radius: 4px;
    padding: 10px 32px;
    border:transparent;
 
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     
       &:hover,
       &:focus {
         background-color: #188CE8;
       
       }

      }
     