
      $primary-text-color: #212121;
      $title-text-color: #757575;
      $accent-color: #ffffff;
      $logo-color: #2196f3;
      $primary-bg-color: #e5e5e5;
      $color-block:#2F303A;
      $color-button: #F5F4FA;
      $color-icon:  #AFB1B8;

      $font-family:Roboto,sans-serif;

